body {
  background: #f0f0a0;
  font-family: sans;
  float: left;
}

div.inputform {
  background: #d0b080;
  padding: 1em;
}

td {
  padding: 0.3em;
}

div#status {
  padding: 1em;
  background: #CCCCCC;
  border=1px;
  
}

div#output {
  padding: 1em;
  background: #FFFFFF;
}